<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>Image Suite</title>

</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/static/images/Logo.png" alt="Image Suite Logo">
        </a>
    </header>
    <div class="tab-container">
        <button class="tab-button active" data-tab="background-remover">Background Remover</button>
        <button class="tab-button" data-tab="bokeh-effect">Bokeh Effect</button>
        <button class="tab-button" data-tab="blur-image">Blur Image</button>
        <button class="tab-button" data-tab="image-rescaler">Image Rescaler</button>
    </div>
    <div id="tab-content"></div>

    <script src="/static/tabs.js"></script>
</body>
</html>
